/* === About Section === */
#about {
  padding: 40px 30px;
  margin: 40px auto;
  max-width: 1000px;
  width: 100%;
  text-align: initial;
  background-color: #2a2a3b;
  border: 5px solid #ff5722;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#about h2 {
  font-size: 34px;
  margin-bottom: 8px;
  color: #ff5722;
  text-align: center;
}

.about-simple {
  padding: 0 12px 10px;
}

.about-simple p {
  font-size: 18px;
  line-height: 1.8;
  color: #f5f5f5;
  margin-bottom: 12px;
}
