<section id="portfolio" class="section">
  <h2>Projects</h2>
  <div class="project-cards-container">
    <div class="project-card">
      <img
        src="Img Source/Projects/House Price Prediction.png"
        alt="House Price Prediction"
        class="project-img"
      />
      <div class="project-overlay">
        <div class="project-overlay-content">
          <h3>House Price Prediction</h3>
          <p>
            A Machine Learning project that predicts House Prices by
            processing property features and training multiple
            Regression Models. It also includes a Full-Stack Web
            Interface for easy model training and price prediction
            through the browser.
          </p>
          <a
            href="https://github.com/Aniruddha-25/House_Price_Prediction"
            target="_blank"
            class="project-link"
          >
            <i class="fas fa-external-link-alt"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="project-card">
      <img
        src="Img Source/Projects/Matter.png"
        alt="Matter Bike Website"
        class="project-img"
      />
      <div class="project-overlay">
        <div class="project-overlay-content">
          <h3>Matter Bike Website</h3>
          <p>
            An interactive web presentation for the MATTER AERA bike
            using HTML, CSS, and JavaScript, featuring scroll-driven
            3D image rotation and dynamic text to showcase key
            features.
          </p>
          <a
            href="https://github.com/Aniruddha-25/Matter-Bike-Website"
            target="_blank"
            class="project-link"
          >
            <i class="fas fa-external-link-alt"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="project-card">
      <img
        src="Img Source/Projects/Retailer Game Stock Advisor.png"
        alt="Retailer Game Stock Advisor Website"
        class="project-img"
      />
      <div class="project-overlay">
        <div class="project-overlay-content">
          <h3>Retailer Game Stock Advisor</h3>
          <p>
            A web-based ML system that predicts top-selling video
            games for any year using a Random Forest model trained on
            16,600+ records, recommending the top 6 games with global
            and regional sales insights.
          </p>
          <a
            href="https://github.com/Aniruddha-25/Retailer_Game_Stock_Advisor"
            target="_blank"
            class="project-link"
          >
            <i class="fas fa-external-link-alt"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="project-card">
      <img
        src="Img Source/Projects/Python GUI.png"
        alt="Python Data Entry Using GUI"
        class="project-img"
      />
      <div class="project-overlay">
        <div class="project-overlay-content">
          <h3>Python Data Entry Using GUI</h3>
          <p>
            A simple Python-Tkinter app with PostgreSQL to enter and
            store employee data via a GUI, and display records in a
            paginated table.
          </p>
          <a
            href="https://github.com/Aniruddha-25/Login-Page-NodeJs-PostgreSql"
            target="_blank"
            class="project-link"
          >
            <i class="fas fa-external-link-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
