<section id="skills" class="section">
  <h2>Skills</h2>
  <ul class="skills-list">
    <li class="skill">
      <div class="skill-item">
        <div class="skill-name" style="font-weight: bold">
          Languages
        </div>
      </div>
      <ul class="skill-details">
        <li>
          <img
            src="Img Source/Skills/Languages/Python.svg"
            alt="Python"
            class="skill-icon"
          />
          Python
        </li>
        <li>
          <img
            src="Img Source/Skills/Languages/Java.svg"
            alt="Java"
            class="skill-icon"
          />
          Java
        </li>
        <li>
          <img
            src="Img Source/Skills/Languages/C.svg"
            alt="C"
            class="skill-icon"
          />
          C
        </li>
        <li>
          <img
            src="Img Source/Skills/Languages/C++.svg"
            alt="C++"
            class="skill-icon"
          />
          C++
        </li>
      </ul>
    </li>

    <li class="skill">
      <div class="skill-item">
        <div class="skill-name" style="font-weight: bold">
          Front-End Development
        </div>
      </div>
      <ul class="skill-details">
        <li>
          <img
            src="Img Source/Skills/Front-End Development/HTML.svg"
            alt="HTML"
            class="skill-icon"
          />
          HTML
        </li>
        <li>
          <img
            src="Img Source/Skills/Front-End Development/CSS.svg"
            alt="CSS"
            class="skill-icon"
          />
          CSS
        </li>
        <li>
          <img
            src="Img Source/Skills/Front-End Development/JavaScript.svg"
            alt="JavaScript"
            class="skill-icon"
          />
          JavaScript
        </li>
      </ul>
    </li>

    <li class="skill">
      <div class="skill-item">
        <div class="skill-name" style="font-weight: bold">
          Database
        </div>
      </div>
      <ul class="skill-details">
        <li>
          <img
            src="Img Source/Skills/Database/MySQL.svg"
            alt="SQL"
            class="skill-icon"
          />
          MySQL
        </li>
        <li>
          <img
            src="Img Source/Skills/Database/Postgresql.svg"
            alt="PostgreSQL"
            class="skill-icon"
          />
          PostgreSQL
        </li>
        <li>
          <img
            src="Img Source/Skills/Database/MongoDB.svg"
            alt="MongoDB"
            class="skill-icon"
          />
          MongoDB
        </li>
      </ul>
    </li>

    <li class="skill">
      <div class="skill-item">
        <div class="skill-name" style="font-weight: bold">
          Frameworks
        </div>
      </div>
      <ul class="skill-details">
        <li>
          <img
            src="Img Source/Skills/Frameworks/Django.svg"
            alt="Django"
            class="skill-icon"
          />
          Django
        </li>
        <li>
          <img
            src="Img Source/Skills/Frameworks/Flask.svg"
            alt="Flask"
            class="skill-icon"
          />
          Flask
        </li>
        <li>
          <img
            src="Img Source/Skills/Frameworks/Node.js.svg"
            alt="Node.js"
            class="skill-icon"
          />
          Node.js
        </li>
      </ul>
    </li>

    <li class="skill">
      <div class="skill-item">
        <div class="skill-name" style="font-weight: bold">
          Data & ML Tools
        </div>
      </div>
      <ul class="skill-details">
        <li>
          <img
            src="Img Source/Skills/Data & ML Tools/Pandas.svg"
            alt="Pandas"
            class="skill-icon"
          />
          Pandas
        </li>
        <li>
          <img
            src="Img Source/Skills/Data & ML Tools/NumPy.svg"
            alt="NumPy"
            class="skill-icon"
          />
          NumPy
        </li>
        <li>
          <img
            src="Img Source/Skills/Data & ML Tools/Matplotlib.svg"
            alt="Matplotlib"
            class="skill-icon"
          />
          Matplotlib
        </li>
        <li>
          <img
            src="Img Source/Skills/Data & ML Tools/Scikit-learn.svg"
            alt="Scikit-learn"
            class="skill-icon"
          />
          Scikit-learn
        </li>
        <li>
          <img
            src="Img Source/Skills/Data & ML Tools/Seaborn.svg"
            alt="Seaborn"
            class="skill-icon"
          />
          Seaborn
        </li>
      </ul>
    </li>
  </ul>
</section>
